<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meal Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav class="navbar">
    <a class="navbar-brand" href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <% if (user) { %>
      <a class="navbar-brand" href="/meals">All Meals</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="navbar-brand" href="/meals/new">Add Meal</a>
      <a href="/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google" class="login">Sign In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
  </nav>