<%- include('./partials/header') %>

    <div class="text-center">
        <h1>Welcome To Your Own Personal Meal Tracker</h1>
        <hr>

        <h3>Example of what your personalized page could look like:</h3>

        <div class="row">
            <div class="col-9">
                <p>Daily Meal Tracker</p>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Breakfast</th>
                        <th>Lunch</th>
                        <th>Dinner</th>
                        <th>Snack(s)</th>
                    </tr>
                    <tr>
                        <td>10/10</td>
                        <td>Pancakes</td>
                        <td>Turkey Sandwich</td>
                        <td>Lasagna</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>10/11</td>
                        <td>N/A</td>
                        <td>Chiptole Bowl</td>
                        <td>AYCE Sushi</td>
                        <td>Iced Coffee</td>
                    </tr>
                    <tr>
                        <td>10/12</td>
                        <td>Oatmeal w/ Fruit</td>
                        <td>Chick-fil-A</td>
                        <td>Protein Smoothie</td>
                        <td>Takoyaki</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <p>Daily Calorie Intake</p>
                <button class="accordion">10/10/2021</button>
                <div class="panel">
                    <table>
                        <tr>
                            <th>Daily Calories</th>
                            <th>Calorie Breakdown</th>
                        </tr>
                        <tr>
                            <td>2323</td>
                            <td><a href="/">Details</a></td>
                        </tr>
                    </table>
                </div>

                <button class="accordion">10/11/2021</button>
                <div class="panel">
                    <table>
                        <tr>
                            <th>Daily Calories</th>
                            <th>Calorie Breakdown</th>
                        </tr>
                        <tr>
                            <td>2200</td>
                            <td><a href="/">Details</a></td>
                        </tr>
                    </table>
                </div>

                <button class="accordion">10/12/2021</button>
                <div class="panel">
                    <table>
                        <tr>
                            <th>Daily Calories</th>
                            <th>Calorie Breakdown</th>
                        </tr>
                        <tr>
                            <td>1750</td>
                            <td><a href="/">Details</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <%- include('./partials/footer') %>